<h4>Add a task</h4>
<%= form_for [user, item], remote: true do |f| %>
  <div class="form-group">
    <%= f.label :name, class: "sr-only" %>
    <div class="input-group">
      <span class="input-group-btn">
      <%= button_tag(class: 'btn btn-primary') do %>
        <i class="glyphicon glyphicon-plus"></i>
      <% end %>
      </span>
      <%= f.text_field :name, class: "form-control", placeholder: "Enter a new task" %>
    </div>
    
  </div>

<% end %>